<p id="notice"><%= notice %></p>

<p>
  <strong>Product group:</strong>
  <%= @artist_procuct_group.product_group %>
</p>

<p>
  <strong>Article:</strong>
  <%= @artist_procuct_group.article %>
</p>

<%= link_to 'Edit', edit_artist_procuct_group_path(@artist_procuct_group) %> |
<%= link_to 'Back', artist_procuct_groups_path %>
