<p id="notice"><%= notice %></p>

<div class="cabecera" style="background-image:url(<%= @artist.background.url(:medium) %>);padding:20px;">

</div>

<div class="cover" style="background-image:url(<%= @artist.cover.url(:medium) %>);padding:20px;">

</div>
<p>
  <strong>Nickname:</strong>
  <%= @artist.nickname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @artist.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @artist.lastname %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @artist.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @artist.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @artist.web %>
</p>

<p>
  <strong>Address:</strong>
  <%= @artist.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @artist.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @artist.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @artist.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @artist.phone %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
