<% if customer_signed_in?%>
<!-- collection_select para generar la orden -->

    <%= form_for @order, :url=>checkout_index_path(@order) do |o| %>

        <p> Escoger direccion de despacho </p>
        <div>
            <%= o.collection_select :id, @addresses, :id, :name%>
        </div>

    <% end %>

    <!-- Formulario para crear direccion -->

    <%= form_for @address, :url=>checkout_index_path(@address) do |f| %>
      <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

          <ul>
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

          <ul>
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.label " Despachar a otra dirección "%>
    <%= check_box "enable", id:"enable", type:"checkbox" %>

        <div class="field">
    <!--- aca escondo el id de cliente  -->
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        </div>
        <div class="field">
          <%= f.label "Dirección" %><br>
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label "Ciudad" %><br>
          <%= f.collection_select :city_id, @cities, :id, :name  %>
        </div>
        <div class="field">
          <%= f.label "Región" %><br>
          <%= f.collection_select :state_id, @states, :id, :name %>
        </div>
        <div class="field">
          <%= f.label "Nombre de direccion" %><br>
          <%= f.text_field :name, class:"form-control", id:"type_select", disabled: true %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>



<%end%>
<%else%>
<% logger.info cookies[:cart_id]%>
<h2 class="title-medium mdl-cell--8-col">necesitas logearte para seguir con la compra</h2>
<p><%= link_to "Registrarse", new_customer_registration_path, method: :get %>
   <%= link_to "Login", customer_session_path, method: :post %>
    </p>
<%end%>
<p> Escoge método de pago </p>
<% cart_id = cookies[:cart_id]%>
<%= Kmflow::Pagos::nuevo orden: cart_id , concepto: 'Mi producto', monto: @products_price.sum(:price) , email: @user %>
