<p id="notice"><%= notice %></p>

<h1 class="title mdl-cell--8-col">Carrito de Compra</h1>

<table class="mdl-data-table mdl-js-data-table table-cart">
  <tbody>
    <% @shopping_cart.cart_product.each do |i_sh| %>
     <%product = i_sh.product%>
      <tr><%{id: "#{i_sh.product.id}"}%>
        <td>
          <% product.images.each do |image| %>
            <%= image_tag image.archivo.url(:thumb), :class => 'img-cart' %>
          <% end %>
        </td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Eliminar", in_shopping_cart_path(id: i_sh.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        Total Carrito : <%= @shopping_cart.total%>
      </td>
    </tr>
  </tfoot>
</table>
<% if customer_signed_in?%>
  <% cart_id = cookies[:cart_id]%>
  <%= Kmflow::Pagos::nuevo orden: cart_id , concepto: 'Mi producto', monto: @shopping_cart.total , email: @user %>
<%else%>
  <h2 class="title-medium mdl-cell--8-col">necesitas logearte para seguir con la compra</h2>
  <p><%= link_to "Registrarse", new_customer_registration_path, method: :get %>        <%= link_to "Iniciar Sesión", customer_session_path, method: :post %>
      </p>
<%end%>
<br>
