<p id="notice"><%= notice %></p>

<h1>Carrito de Compra</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_cart.cart_product.each do |i_sh| %>
     <%product = i_sh.product%>
      <tr><%{id: "#{i_sh.product.id}"}%>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Eliminar", in_shopping_cart_path(id: i_sh.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
Total Carrito : <%= @shopping_cart.total%>
<% if customer_signed_in?%>
  <%= Kmflow::Pagos::nuevo orden: 123, concepto: 'Mi producto', monto: @shopping_cart.total , email: @user %>
<%else%>
  <%= button_to "Pagar con Webpay", customer_session_path, method: :post %>
<%end%>
<br>
