<p id="notice"><%= notice %></p>

<p>
  <strong>Product group:</strong>
  <%= @cart_product_group.product_group %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @cart_product_group.cart %>
</p>

<%= link_to 'Edit', edit_cart_product_group_path(@cart_product_group) %> |
<%= link_to 'Back', cart_product_groups_path %>
