<p id="notice"><%= notice %></p>

<h1>ArcaNegra</h1>
<%if customer_signed_in?%>
   Hola  <%= current_customer.email %>
<%end%>
    <p><% @artist_random.each do |a|  %>
 	   <%= a.firstname %>
    <%end%>
    <% @product_random.each do |p|%>
    	<%= p.name %>
    	<%= p.short_description %>
    	<%= p.price %>
    	<!--<%= render "in_shopping_carts/form",product: @product_random%> -->

    	<!--<%=  link_to "agregar al carrito", in_shopping_carts_path(product_id: p.id), method: :post %> -->
    	<%= link_to "Agregar al carrito", {:controller => "in_shopping_carts", :action => "create", :product_id => p.id }%>
        </p>

	<%end%>    