<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @car_product.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @car_product.cart %>
</p>

<%= link_to 'Edit', edit_car_product_path(@car_product) %> |
<%= link_to 'Back', car_products_path %>
