<p id="notice"><%= notice %></p>

<p>
  <strong>Product group:</strong>
  <%= @car_product_group.product_group %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @car_product_group.cart %>
</p>

<%= link_to 'Edit', edit_car_product_group_path(@car_product_group) %> |
<%= link_to 'Back', car_product_groups_path %>
