<!DOCTYPE html>
<html>
<head>
  <title>Arcanegra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if customer_signed_in? %>
 	<%= link_to "Salir", destroy_customer_session_path, method: :delete %>

 <%elsif admin_signed_in? %>
 	<%=link_to "Artistas", artists_path%> <%= link_to "Salir", destroy_admin_session_path, method: :delete %>
 <%else%>
<%= link_to "home", root_path %> <%= link_to "Artistas", home_artists_path %> <%= link_to "Productos", home_products_path %> <%= link_to "¿Quienes Somos? / ¿Qué hacemos?", root_path %> <%=link_to "Login", new_customer_session_path %> 
 <%end%>
<%= yield %>

</body>
</html>
