<!DOCTYPE html>
<html>
<head>
  <title>Arcanegra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "home", root_path %> <%= link_to "Artistas", home_artists_path %> <%= link_to "Productos", home_products_path %> <%= link_to "¿Quienes Somos? / ¿Qué hacemos?", root_path %> <%= link_to "Regístrate", new_customer_session_path %>
<%= yield %>

</body>
</html>
